.pager li>a, .pager li>span {
    color: #333;
    text-shadow: 0 0 0;
}

.post-btn {
    background-color: rgb(173, 214, 214);
    border-color: rgb(173, 214, 214);
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    left: -5px;
    top: -20px;
    color: white;
    padding-top: 10px;
}

.post-btn-content {
    font-size: 30px;
    font-weight: bold;
    margin-top: -9px;
    margin-left: 8px;
    position: absolute;
}


