.comment-area {
    margin-top: 50px;
}

.comment-list {
    list-style: none;
}

.media-body {
    text-align: left;
}

.media-left {
    min-width: 80px;
}

.btn:focus, .btn-link:focus {
  outline: none !important;
}