.blog-div {
    background-color: rgba(230,238,232,0.8);
    box-shadow: 0px 0px 8px black;
}

.blog-div:hover {
    box-shadow: 0px 0px 24px black;
    background-color: rgba(230,238,232,0.9);
}

.blog-detail_div {
    background-color: rgba(230,238,232,0.9);
    font-size: 20px;
}

.blog-detail_div:hover {
    box-shadow: 0px 0px 24px black;
}

.blog_post_div {
    background-color: rgba(230,238,232,0.8);
    box-shadow: 0px 0px 8px black;
    overflow: hidden;
}