{% extends "mysite/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n avatar_tags %}


{% block additional_head %}
<!-- Custom CSS -->
    <link href="{% static 'accounts/accounts-dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'avatar/avatar_upload.css' %}" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function () {
            // file select style
            var ele = '<label for="id_avatar" class="custom-file-upload"><i class="fa fa-cloud-upload"></i> <span id="upload_tip">Select Image</span></label>';
            $(ele).insertBefore($("#id_avatar"));

            $("#id_avatar").change(function () {
                var filename = $(this).val();
                if (filename == '')
                {
                    filename = "Select Image";
                }
                $("#upload_tip").html(filename);
            });
        });
    </script>
{% endblock %}


{% block content %}

<div class="accounts-panel-div" style="text-align: center;">
    <h3>Your current avatar:</h3>
    {% avatar request.user %}
    <hr/>
    {% if not avatars %}
        <p class="lead">You haven't uploaded an avatar yet. Please upload one now.</p>
    {% else %}
        <h3>Choose Avatar</h3>
        <form method="POST" action="{% url 'avatar_change' %}">{% csrf_token %}
            {{ primary_avatar_form.as_table }}
            <input type="submit" class="btn btn-info" value="Choose New Default" />
        </form>
        <hr/>
    {% endif %}
    <h3>Upload New Avatar</h3>
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">{% csrf_token %}
        {{ upload_avatar_form|crispy }}
        <input type="submit" class="btn btn-primary" value="Confirm Upload" />
    </form>
    <hr/>
    <a href="{% url 'avatar_delete' %}" class="btn btn-danger">Manage Avatar</a>
    <a href="{% url 'dashboard' %}" class="btn btn-default">Back to Profile</a>
</div>
{% endblock %}
