<!--List a list of blogs-->
{% load static %}
{% load blog_tags %}


{% for item in items %}
    <div class="blog-div well aos-init aos-animate" data-aos="flip-up">
        {% if item.unread %}
        <span class="label label-danger brand-new">New</span>
        {% endif %}
        <p class="lead"><b>{{ item.author }}</b>: <span class="marked_truncate">{{ item.text }}</span></p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ item.publish_time }}</p>
        {% if item.src == "comment" %}
        <div class="reference-div"><a href="{% url 'blogs:archive' item.blog.id %}" target="_blank"><b><i>{{ item.blog.title }}</i></b></a> <small>written by {{ item.blog.author }} On {{ item.blog.publish_time }}</small></div>
        <a class="btn btn-primary read-at" id="notification_{{ item.related_notification_id }}" href="{% url 'blogs:archive' item.blog.id %}#comment_{{ item.id }}" target="_blank">Get Detail <span class="glyphicon glyphicon-chevron-right"></span></a>
        {% elif item.src == "blog" %}
        <div class="reference-div"><a href="{% url 'blogs:archive' item.id %}" target="_blank"><b><i>{{ item.title }}</i></b></a> <small>written by {{ item.author }} On {{ item.publish_time }}</small></div>
        <a class="btn btn-primary read-at" id="notification_{{ item.related_notification_id }}" href="{% url 'blogs:archive' item.id %}" target="_blank">Get Detail <span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endif %}
    </div>
{% endfor %}

<!-- Pager -->
<ul class="pager">
    {% if items.has_previous %}
        <a class="btn btn-default page-link" id="prev-btn" href="{% url_replace page=items.previous_page_number %}">&lt;</a>
    {% endif %}

    {% for i in page_list %}
        {% if i != '...' %}
            {% if i != items.number %}
                <a class="btn btn-default page-link" href="{% url_replace page=i %}">{{ i }}</a>
            {% else %}
                <a class="btn btn-info page-link" href="{% url_replace page=i %}">{{ i }}</a>
            {% endif %}
        {% else %}
            <span>...</span>
        {% endif %}
    {% endfor %}

    {% if items.has_next %}
        <a class="btn btn-default page-link" id="next-btn" href="{% url_replace page=items.next_page_number %}">&gt;</a>
    {% endif %}
</ul>

<script>
    $(".page-link").click(function(){
        event.preventDefault();
        var ajax_url = $(this).attr("href");
        $.ajax({
            type:"GET",
            url: ajax_url,
            success: function(result) {
                $('#at-received').html(result);
                update_marked_truncate();
            },
            error: function(jqXHR, exception) {
                $('#at-received').html(exception);
            }
        });
    });

    $(".read-at").bind('click', function(event){
        var notification = $(this).attr("id");
        var notification_id = notification.split("_")[1];
        $.ajax({
            type: "GET",
            url: "{% url 'read_notification' %}",
            data: {"notification_id": notification_id},
            success: function(result) {
                ajax_unread_at_count();
                get_notification_count();
                ajax_at_received();
                $(this).click();
            }
        });
    });
</script>