<!--List a list of blogs-->
{% load static %}
{% load blog_tags %}
{% load avatar_tags %}

{% for blog in blogs %}
    <div class="blog-div well aos-init aos-animate" data-aos="flip-up">
        {% if blog.unread %}
            <span class="label label-danger brand-new">New</span>
        {% endif %}
        <h2>
            <span class="blog-title">
                <a href="{% url 'blogs:archive' blog.id %}">{{ blog.title }}</a>
            </span>
        </h2>
        <div class="avatar-div">
            {% avatar blog.author 64 %}
        </div>
        <p><i class="fa fa-pencil"></i> Author: {{ blog.author }}</p>
        <p><i class="fa fa-clock-o"></i> Posted: {{ blog.publish_time|date:"Y-m-d" }} {{ blog.publish_time|time:"H:i:s" }}</p>
        {% if blog.blogcategory_set.all.count > 0 %}
        <p>
            <i class="fa fa-tags"></i> Category:
            {% for category in blog.blogcategory_set.all %}
            <span class="category-span"><a href="{% url 'blogs:category' category %}">{{ category }}</a></span>
            {% endfor %}
        </p>
        {% endif %}
        <p>
            <span><i class="fa fa-eye"></i> Views: {{ blog.read_count }}</span>
            <span style="margin-left: 10px;"><i class="fa fa-comment"></i> Comments: {{ blog.comment_set.all | length }}</span>
        </p>
        <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">-->
        <!--<hr>-->
        <p class="lead"><div class="blog_content marked_truncate">{{ blog.text }}</div></p>
        <a class="btn btn-primary read-blog" id="notification_{{ blog.related_notification_id }}" href="{% url 'blogs:archive' blog.id %}" target="_blank">Read More <i class="fa fa-chevron-right"></i></a>
    </div>
{% endfor %}

<!-- Pager -->
<ul class="pager">
    {% if blogs.has_previous %}
        <a class="btn btn-default page-link" id="prev-btn" href="{% url_replace page=blogs.previous_page_number %}">&lt;</a>
    {% endif %}

    {% for i in page_list %}
        {% if i != '...' %}
            {% if i != blogs.number %}
                <a class="btn btn-default page-link" href="{% url_replace page=i %}">{{ i }}</a>
            {% else %}
                <a class="btn btn-info page-link" href="{% url_replace page=i %}">{{ i }}</a>
            {% endif %}
        {% else %}
            <span>...</span>
        {% endif %}
    {% endfor %}

    {% if blogs.has_next %}
        <a class="btn btn-default page-link" id="next-btn" href="{% url_replace page=blogs.next_page_number %}">&gt;</a>
    {% endif %}
</ul>

<script>
    $(".page-link").click(function(){
        event.preventDefault();
        var ajax_url = $(this).attr("href");
        $.ajax({
            type:"GET",
            url: ajax_url,
            success: function(result) {
                $('#blog-posts').html(result);
                update_marked_truncate();
            },
            error: function(jqXHR, exception) {
                $('#blog-posts').html(exception);
            }
        });
    });

    $(".read-blog").bind('click', function(event){
        var notification = $(this).attr("id");
        var notification_id = notification.split("_")[1];
        $.ajax({
            type: "GET",
            url: "{% url 'read_notification' %}",
            data: {"notification_id": notification_id},
            success: function(result) {
                ajax_unread_subscribe_blog_count();
                get_notification_count();
                ajax_subscribe_blogs_content();
                $(this).click();
            }
        });
    });

</script>