body {
	margin: 0;
    padding: 0;
    text-align: center;
}

#mineDiv span
{
	margin-top: 5px;
	text-shadow: 0px 0px 2px darkblue;
	font-size: 36px;
	font-weight: bold;
	float: left;
}

#mineDiv tr
{
	overflow: scroll;
	white-space: nowrap;
}

#mineDiv td
{  
	width: 40px;
    height: 40px;
	margin: 2px;
    display: inline-block;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

input[type=number] {
    width: 10%;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    padding-left: 5px;
	min-width: 64px;
}

input[type=number]:focus {
	outline: none;
	border: 1px solid #00d0d2;
}

#mineDiv img:hover
{
    box-shadow: 0 0 10px #33CCFF;
	border-radius: 11px;
}

#mineDiv img:active
{
    box-shadow: 0 0 10px #FF46FA;
	border-radius: 11px;
}

#setDiv
{
	margin: auto;
	text-align: center;
}

.clear
{
	clear: both;
}

.mineIcon
{
	margin-right: 5px;
}

.clkIcon
{
	margin-left: 100px;
	margin-right: 10px;
}

.numtd
{
	background: radial-gradient(rgba(255, 176, 176, 0.4) 30%, #d9d9ff 70%); 
}

.untd
{
	background: #E4E4E4;
}

.blktd
{
	background: radial-gradient(#F8F8F8 60%, #EAEAEA 90%)
}

.flgtd
{
	background: radial-gradient(#FF8484 30%, rgba(255, 148, 148, 0.4) 70%);
}

img {
    max-width: inherit;
}

table th {
    text-align: center;
}

#mineDiv table {
	background-color: inherit;
}

#mineDiv table td, #mineDiv table th {
    border: inherit;
    padding: inherit;
}

#mineDiv table tr:nth-child(even){background-color: inherit;}

#mineDiv table tr:hover {background-color: inherit;}

#mineDiv table th {
    padding-top: inherit;
    padding-bottom: inherit;
    text-align: inherit;
    background-color: inherit;
    color: inherit;
}

#content-div {
	padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(230, 238, 232);
    box-shadow: 0px 0px 8px black;
    display: inline-block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    text-align: center;
}

.modal-title {
    margin: 10px;
	font-size: 32px;
}

.modal-tip {
	font-size: 24px;
}

.modal-body {
    padding: 10px;
}

.modal-footer {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
	text-align: center;
}