{% load static %}
{% load avatar_tags %}
{% load mysite_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Satori's personal website">
        <meta name="author" content="Komeiji Satori">

        <title>{% block title %}{% endblock %}</title>
        <!-- Add favicon -->
        <link rel="shortcut icon" href="{% static 'mysite/images/favicon.ico' %}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
        <!--Font-awesome CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!--code style CSS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/monokai-sublime.min.css">
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link href="{% static 'mysite/cover.css' %}" rel="stylesheet">
        <link href="{% static 'mysite/background.css' %}" rel="stylesheet">
        {% block additional_head %}
        {% endblock %}
    </head>

    <body>
        {% load_background %}
        <div class="simple-image-div"></div>
        <nav class="navbar navbar-default" id="navigation-bar">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-header navbar-text">
                        {% if user.is_authenticated %}
                            <a href="{% url 'dashboard' %}" style="text-decoration: none;">{% avatar request.user 27 %} {{ request.user.username }}
                            <span class="badge" data-ajax-url="{% url 'unread_notification_count' %}" id="unread-notifications"></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out" aria-hidden="true">Log Out</i></a></li>
                        {% else %}
                            <li><a href="{% url 'auth_login' %}"><i class="fa fa-sign-in" aria-hidden="true">Log In</i></a></li>
                            <li><a href="{% url 'registration_register' %}"><i class="fa fa-user-plus" aria-hidden="true">Register</i></a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
                        <li {% if '/blogs' in request.path %}class="active"{% endif %}><a href="{% url 'blogs:index' %}">Blog</a></li>
                        <li {% if '/game' in request.path %}class="active"{% endif %}><a href="{% url 'games:minesweeper' %}">Game</a></li>
                        <li {% if '/upload' in request.path %}class="active"{% endif %}><a href="{% url 'upload:upload-new' %}">Upload</a></li>
                        <li {% if '/contact' in request.path %}class="active"{% endif %}><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container-fluid" id="main-content">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    {% block content %}
                    {% endblock %}
                    <div class="footer">
                        <a class="btn btn-info" href="https://www.mygalgame.com" target="_blank">Theme inspired by 忧郁的弟弟</a>
                        <a class="btn btn-success" href="https://github.com/KomeijiSatori/mysite" target="_blank">Developed by Satori. All rights reserved.</a>
                    </div>
                </div>
            </div>

        </div>

        <div id="zan-gotop">
            <i class="fa fa-angle-up"></i>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
        <script src="{% static 'mysite/activate-power-mode.js' %}"></script>
        <script src="{% static 'mysite/cover.js' %}"></script>
        <script src="{% static 'mysite/keypress.js' %}"></script>
        <script src="{% static 'mysite/audiosynth.js' %}"></script>
    </body>
</html>
