{% extends "mysite/base.html" %}
{% load static %}


{% block title %}
  Satori's site
{% endblock %}

{% block content %}

  <div class="inner cover">
    <h1 class="cover-heading">I will be back</h1>
    <p class="lead">
       I thought what I'd do was, I'd pretend I was one of those deaf-mutes. 
    </p>
    <pre>
        Renew background-image
        Renew blog list UI
        Add go top Button
        Add markdown to content
        Search implementation
    </pre>
    <pre>
        Add properly markdown preview
    </pre>
    <small style="color:rgba(0, 0, 0, 0.3);">Or should I?</small>
    {% if user.is_authenticated %}
    <p class="lead">
       Welcome {{ user.username }}
    </p>
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=445300&auto=1&height=66"></iframe>
    {% endif %}
  </div>


{% endblock %}
