{% extends "mysite/base.html" %}
{% load static %}


{% block title %}
  Satori's site
{% endblock %}

{% block content %}

    <div class="cover-div">
        <h1 class="cover-heading">增加用户界面啦</h1>
        <p class="lead">
            欢迎～ {{ user.username }}
        </p>
        <p class="lead">
            <b>注意事项:</b><br/>
            1. 发博客和上传图片需要登录, 没有账号请点击register进行注册<br/>
            2. 点击左上角头像即可进入用户界面
            {% if request.user.is_authenticated %}
                , 或者<a href="{% url 'dashboard' %}">点我</a>进入用户页面<br/>
            {% endif %}
            <br/>
            <b>2017年7月31日----版本更新:</b><br/>
            1. 增加了用戶头像上传, 切换以及删除功能<br/>
            2. 增加用户详细资料的填写<br/>
            3. 修正部分浏览器在用户页面的回复栏中的引用文字不能分段问题<br/>
            <br/>
            <b>2017年7月30日----版本更新:</b><br/>
            1. 开发了用户界面, 可以查看自己发的博客和回复以及收到的回复<br/>
            2. 常规登录后自动跳转用户界面<br/>
            3. 调整博客以及评论的更新时间显示<br/>
            4. 更新导航栏的用户名以及头像显示<br/>
            5. 博客评论现在显示头像, 头像的上传修改还在开发中<br/>
            <br/>
            <b>2017年7月23日----版本更新:</b><br/>
            1. 评论已经做成树形, 可以回复评论中的评论<br/>
            2. 将评论的数据库重新设计, 并做了数据迁移, 保证已有评论数据不丢失<br/>
            3. 现在能对自己发的博客以及评论进行修改, 并能看到最后修改时间<br/>
            <br/>
            <b>2017年6月19日----版本更新:</b><br/>
            1. 全网站使用https, 所有http请求会被重定向到https<br/>
            2. 发博客链接现在只接受https, 如果有http链接将给出错误提示<br/>
            3. 博客发送文本框现在可以根据输入自由调整高度, 预览框调整到输入框下面<br/>
            4. 修复中等大小屏幕内容框过小的问题<br/>
            5. 修复大段一行文字预览越界问题<br/>
            <br/>
            <b>2017年6月3日----版本更新:</b><br/>
            1. 修复了博客编辑框被预览框挡住的问题<br/>
            2. 增加了图片上传功能, 同时能管理自己上传的图片<br/>
            3. 博客发送框也增加了到上传图片页面的按钮<br/>
            4. 未登录发博客不会返回404, 而是跳转登录<br/>
            5. 修复大段中文文本在博客页面不能被切分的问题<br/>
            <br/>
            <b>2017年4月29日----版本更新:</b><br/>
            1. 更新了背景图片<br/>
            2. 更新了博客列表展示UI<br/>
            3. 增加了返回顶部按钮（在右下角）<br/>
            4. 博客支持markdown语法了<br/>
            5. 发博客的入口在博客主页的搜索框左上角的加号上<br/>
            {% if request.user.is_authenticated %}
                或者<a href="{% url 'blogs:post' %}">点我</a>发博客<br/>
            {% endif %}
            6. 发博客有预览了, 避免写错语法<br/>
            7. 增加了搜索功能, 可以根据内容和作者和标签进行搜索<br/>
            8. 增加了代码高亮功能, 请配合markdown代码块使用<br/>
            9. 增加<a href="{% url 'blogs:archive' 105 %}">markdown语法指导</a><br/>
            <b>修正了以下问题</b><br/>
            1. 更换时区, 现在都是UTC+8了<br/>
            2. markdown禁止html标签, 为了安全考虑<br/>
        </p>
    </div>


{% endblock %}
