<!--List a list of blogs-->
{% load static %}


{% for blog in blogs %}
    <div class="blog-div well">
        <h2>
            <a href="{% url 'blogs:archive' blog.id %}">{{ blog.title }}</a>
        </h2>
        <p class="lead">
            by {{ blog.author }}
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ blog.publish_time.year }}-{{ blog.publish_time.month }}-{{blog.publish_time.day}} {{ blog.publish_time.hour }}:{{ blog.publish_time.minute }}:{{ blog.publish_time.second }}</p>
        {% if blog.blogcategory_set.all.count > 0 %}
        <p>
            Category:
            {% for category in blog.blogcategory_set.all %}
            <a href="{% url 'blogs:category' category %}">{{ category }}</a>
            {% endfor %}
        </p>
        {% endif %}
        <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">-->
        <!--<hr>-->
        <p class="lead"><div class="marked_truncate">{{ blog.text }}</div></p>
        <a class="btn btn-primary" href="{% url 'blogs:archive' blog.id %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
{% endfor %}

<!-- Pager -->
<ul class="pager">
    {% if blogs.has_previous %}
        <a class="btn btn-default" href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ blogs.previous_page_number }}">&lt;</a>
    {% endif %}

    {% for i in page_list %}
        {% if i != '...' %}
            {% if i != blogs.number %}
                <a class="btn btn-default" href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ i }}">{{ i }}</a>
            {% else %}
                <a class="btn btn-info" href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ i }}">{{ i }}</a>
            {% endif %}
        {% else %}
            <spam>...</spam>
        {% endif %}
    {% endfor %}

    {% if blogs.has_next %}
        <a class="btn btn-default" href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ blogs.next_page_number }}">&gt;</a>
    {% endif %}
</ul>
