<div class="blog_post_div well">
    {% if user.is_authenticated %}
        <div class="post-btn">
            <a class="post-btn-content" href="{% url 'blogs:post' %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    {% else %}
        <p>Please log in to post a blog.</p>
    {% endif %}
    <form action="{% url 'blogs:search' %}" method="get">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" name="search" placeholder={% if request.GET.search %}"{{ request.GET.search}}"{% else %}"输入想要搜索的内容"{% endif %}>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </form>
</div>