{% extends "mysite/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load mptt_tags %}


{% block title %}
    {{ blog.title }}
{% endblock %}


{% block additional_head %}
    <!-- Custom CSS -->
    <link href="{% static 'blogs/blog-post.css' %}" rel="stylesheet">
    <link href="{% static 'blogs/myblog.css' %}" rel="stylesheet">
    <!-- Custom JS-->
    <script type="text/javascript">
    $(document).ready(function(){
        $("button[class='btn btn-link']").click(function(){
            $(this).next('form').toggle(500);
            if ($(this).children('i').attr('class') === 'fa fa-arrow-down')
            {
                $(this).children('i').attr('class', 'fa fa-arrow-up');
                $(this).children('spam').html('Retract')
            }
            else
            {
                $(this).children('i').attr('class', 'fa fa-arrow-down');
                $(this).children('spam').html('Reply')
            }
        });
    });
    </script>
    <script src="{% static 'blogs/jquery.truncate.js' %}"></script>
    <script src="{% static 'blogs/render-content.js' %}"></script>
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <!-- Blog Post -->
    <br/>
    <div class="blog-detail_div well">
        <!-- Title -->
        <h1>{{ blog.title }}</h1>

        <!-- Author -->
        <p class="lead">
            by <a href="#">{{ blog.author }}</a>
        </p>

        <!--<hr>-->

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ blog.publish_time }}</p>

        {% if blog.blogcategory_set.all.count is not 0 %}
            <p>
                Category:
                {% for category in blog.blogcategory_set.all %}
                    <a href="{% url 'blogs:category' category %}">{{ category }}</a>
                {% endfor %}
            </p>
        {% endif %}

        <br/>

        <!--&lt;!&ndash; Preview Image &ndash;&gt;-->
        <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">-->

        <!--<hr>-->

        <!-- Post Content -->
        <p class="lead"><div class="blog_content">{{ blog.text }}</div></p>

        <hr>

        <!-- Blog Comments -->

        {% if user.is_authenticated %}
        <!-- Comments Form -->
        <div class="comment-area">
            <h4>Leave a Comment:</h4>
            <form role="form" method="POST" action="{% url 'blogs:addComment' blog.id %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ comment_form|crispy }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <hr>
        {% endif %}
        <!-- Posted Comments -->

        <!-- Use tree node to implement comment thread-->
        {% recursetree nodes %}
        <li class="comment-list">
            <div class="comment-div">
                <img class="media-object pull-left" src= "{% static 'blogs/images/trans-64_64.png' %}" alt=""/>
                <div class="media-body">
                    <h4 class="media-heading">{{ node.author }}
                        <small>
                            {{ node.publish_time }}
                        </small>
                    </h4>
                    {{ node.text }}

                    <!--post reply-->
                    {% if user.is_authenticated %}
                    <button class="btn btn-link">
                        <span>Reply</span> <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </button>

                    <form style="display: none;" role="form" method="POST" action="{% url 'blogs:addNestedComment' node.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ comment_form|crispy }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% if not node.is_leaf_node %}
                <ul class="children comment-list">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </div>

{% endblock %}
