{% extends "mysite/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load mptt_tags %}
{% load avatar_tags %}


{% block title %}
    {{ blog.title }}
{% endblock %}


{% block additional_head %}
    <!-- Custom CSS -->
    <link href="{% static 'blogs/blog-post.css' %}" rel="stylesheet">
    <link href="{% static 'blogs/myblog.css' %}" rel="stylesheet">
    <!-- Custom JS-->
    <script type="text/javascript">
    $(document).ready(function(){
        $(".reply_div").hide();
        $(".update_div").hide();

        $("button[name='reply-comment']").click(function(){
            var comment_id = $(this).attr('id').split("_")[1];
            $("#reply-div_" + comment_id).toggle(500);
            if ($(this).children('i').attr('class') === 'fa fa-arrow-down')
            {
                $(this).children('i').attr('class', 'fa fa-arrow-up');
                $(this).children('span').html('Retract');
            }
            else
            {
                $(this).children('i').attr('class', 'fa fa-arrow-down');
                $(this).children('span').html('Reply');
            }
        });

        $("button[name='update-comment']").click(function(){
            var comment_id = $(this).attr('id').split("_")[1];
            $.ajax({
                url: $("#update-div_" + comment_id).attr('data-comment-url'),
                dataType: "json",
                success: function (data) {
                    $("#update-div_" + comment_id).find('textarea').val(data.text);
                }
            });
            $("#reply-div_" + comment_id).hide();
            $("#comment-div_" + comment_id).hide();
            $("#reply-btn_" + comment_id).children('i').attr('class', 'fa fa-arrow-down');
            $("#reply-btn_" + comment_id).children('span').html('Reply');
            $("#update-div_" + comment_id).show(500);
        });

        $("button[name='cancel-btn']").click(function(){
            var comment_id = $(this).attr('id').split("_")[1];
            $("#comment-div_" + comment_id).show();
            $("#update-div_" + comment_id).hide(500);
        });

        $("button[name='follow-btn']").click(function(){
            var followed = $(this).attr("data-followed");
            if (followed === "F")
            {
                $.ajax({
                    type: "GET",
                    url: "{% url 'add_follow' %}",
                    data: { "fan": {{ request.user.id }}, "star": {{ blog.author.id }} },
                    success: function(result) {
                        $("button[name='follow-btn']").attr("class", "btn btn-warning");
                        $("button[name='follow-btn']").html("- Unfollow");
                        $("button[name='follow-btn']").attr("data-followed", "T");
                    }
                });
            }
            else
            {
                $.ajax({
                    type: "GET",
                    url: "{% url 'delete_follow' %}",
                    data: { "fan": {{ request.user.id }}, "star": {{ blog.author.id }} },
                    success: function(result) {
                        $("button[name='follow-btn']").attr("class", "btn btn-success");
                        $("button[name='follow-btn']").html("+ Follow");
                        $("button[name='follow-btn']").attr("data-followed", "F");
                    }
                });
            }
        });
    });
    </script>

    <script>
    // key `h j k l` item selection
    // get current kb element
    function move_to_ele(ele, time) {
        // scroll to ele
        if (ele.size() === 1)
        {
            var elOffset = ele.offset().top;
            var elHeight = ele.height();
            var windowHeight = $(window).height();
            var offset;

            if (elHeight < windowHeight) {
                offset = elOffset - ((windowHeight / 2) - (elHeight / 2));
            }
            else {
                offset = elOffset;
            }
            $('html, body').animate({
                scrollTop: offset
            }, time);
        }
    }

    function getCurrentElement()
    {
        var ele = $(".kb .comment-body").first();
        if (ele.size() !== 1)
        {
            return null;
        }
        else
        {
            return ele;
        }
    }

    function movenext(time)
    {
        var curEle = getCurrentElement();
        var next;
        // no item selected
        if (curEle === null)
        {
            next = $(".comment-body").first();
            color_to_ele(null, next.parent());
        }
        else
        {
            next = curEle.parent().next("li").children(".comment-body");
            color_to_ele(curEle.parent(), next.parent());
        }
        // if not the last item
        move_to_ele(next, time);
    }

    function moveprev(time)
    {
        var curEle = getCurrentElement();
        var next;
        // no item selected
        if (curEle !== null)
        {
            next = curEle.parent().prev("li").children(".comment-body");
            color_to_ele(curEle.parent(), next.parent());
            // if not the last item
            move_to_ele(next, time);
        }
    }

    function movedown(time)
    {
        var curEle = getCurrentElement();
        // no item selected
        if (curEle === null)
        {
            var next = $(".comment-body").first();
            color_to_ele(null, next.parent());
            move_to_ele(next, time);
        }
        else
        {
            var all_items = $(".comment-body");
            var cur_ind = all_items.index($(".kb .comment-body").first());
            if (cur_ind + 1 <= all_items.size() - 1)
            {
                var next = $(all_items.get(cur_ind + 1));
                color_to_ele(curEle.parent(), next.parent());
                move_to_ele(next, time);
            }
        }
    }

    function moveup(time)
    {
        var curEle = getCurrentElement();
        // no item selected
        if (curEle !== null)
        {
            var all_items = $(".comment-body");
            var cur_ind = all_items.index($(".kb .comment-body").first());
            if (cur_ind - 1 >= 0)
            {
                var next = $(all_items.get(cur_ind - 1));
                color_to_ele(curEle.parent(), next.parent());
                move_to_ele(next, time);
            }
        }
    }

    $(document).ready(function () {
        var time = 100;
        var vim_key_listener = new window.keypress.Listener;
        vim_key_listener.simple_combo("j", function() {
            movedown(time);
        });
        vim_key_listener.simple_combo("k", function() {
            moveup(time);
        });
        vim_key_listener.simple_combo("h", function() {
            moveprev(time);
        });
        vim_key_listener.simple_combo("l", function () {
            movenext(time);
        });

        // when user is focus is writing a comment
        $("input[type=text], textarea")
        .bind("focus", function() { vim_key_listener.stop_listening(); })
        .bind("blur", function() { vim_key_listener.listen(); });
    });
    </script>
    <script src="{% static 'blogs/jquery.truncate.js' %}"></script>
    <script src="{% static 'blogs/render-content.js' %}"></script>
    <script src="{% static 'blogs/render-modal.js' %}"></script>
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <!-- Blog Post -->
    <br/>
    <div class="blog-detail_div well">
        <!-- Title -->
        <h1>{{ blog.title }}</h1>

        <p><i class="fa fa-pencil"></i> Author:
            <a id="author"><span class="avatar-span">
                {% avatar blog.author 64 %}
            </span>{{ blog.author }}</a>
            {% if is_follow is not None %}
            {% if not is_follow %}
            <button type="button" name="follow-btn" class="btn btn-success" data-followed="F" style="margin-left: 10px;">+ Follow</button>
            {% else %}
            <button type="button" name="follow-btn" class="btn btn-warning" data-followed="T" style="margin-left: 10px;">- Unfollow</button>
            {% endif %}
        {% endif %}
        </p>
        <p><i class="fa fa-clock-o"></i> Posted: {{ blog.publish_time|date:"Y-m-d" }} {{ blog.publish_time|time:"H:i:s" }}</p>
        {% if blog.last_update_time %}
        <p><small><i class="fa fa-clock-o"></i> Last Edit: {{ blog.last_update_time|date:"Y-m-d" }} {{ blog.last_update_time|time:"H:i:s" }}</small></p>
        {% endif %}

        {% if blog.blogcategory_set.all.count > 0 %}
        <p>
            <i class="fa fa-tags"></i> Category:
            {% for category in blog.blogcategory_set.all %}
            <span class="category-span"><a href="{% url 'blogs:category' category %}">{{ category }}</a></span>
            {% endfor %}
        </p>
        {% endif %}
        <p>
            <span><i class="fa fa-eye"></i> Views: {{ blog.read_count }}</span>
            <span style="margin-left: 10px;"><i class="fa fa-comment"></i> Comments: {{ blog.comment_set.all | length }}</span>
        </p>

        <div id="profile-modal" class="modal">
        <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <div class="modal-avatar">
                    {% avatar blog.author 80 %}
                    </div>
                </div>
                <div class="modal-body">
                    <p>Name: {{ profile.user.username }}</p><hr/>
                    <p>Gender: {{ profile.gender }}</p><hr/>
                    <p>Birthday: {{ profile.birthday }}</p><hr/>
                    <p>Mobile: {{ profile.mobile }}</p><hr/>
                    <p>Residence: {{ profile.residence }}</p><hr/>
                    <p>Website: {{ profile.website }}</p><hr/>
                    <p>Microblog: {{ profile.microblog }}</p><hr/>
                    <p>QQ: {{ profile.qq }}</p><hr/>
                    <p>Wechat: {{ profile.wechat }}</p><hr/>
                    <p>Introduction: {{ profile.introduction }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="profile-close" class="btn-lg btn-primary">OK</button>
                </div>
            </div>
        </div>

        <!--&lt;!&ndash; Preview Image &ndash;&gt;-->
        <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">-->

        <!-- Post Content -->
        <div class="blog_content">{{ blog.text }}</div>

        <!--edit button-->
        {% if user == blog.author or user.is_superuser %}
        <a class="btn btn-primary" href="{% url 'blogs:blog_update' blog.id %}">Edit</a>
        {% endif %}

        <hr>

        <!-- Blog Comments -->

        {% if user.is_authenticated %}
        <!-- Comments Form -->
        <div class="comment-area">
            <h4>Leave a Comment:</h4>
            <form role="form" method="POST" action="{% url 'blogs:addComment' blog.id %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ comment_form|crispy }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% else %}
        <a class="btn btn-link" href="{% url 'auth_login' %}?next={{ request.path }}">
            <span>LOGIN TO LEAVE A COMMENT <i class="fa fa-sign-in" aria-hidden="true"></i></span>
        </a>
        {% endif %}
        <hr>
        <!-- Posted Comments -->

        <!-- Use tree node to implement comment thread-->
        <ol class="commentlist">
            {% recursetree nodes %}
            <li>
                <article class="comment-body">
                    <footer class="comment-meta">
                        <div class="comment-author">
                            {% avatar node.author 64 %}
                            <b>{{ node.author }}</b>
                            <span class="says">Says: </span>
                        </div>
                        <div class="comment-metadata">
                            {{ node.publish_time }}
                            {% if node.last_update_time %}
                            <div class="comment-update-time">
                            Last Edit on {{ node.last_update_time }}
                            </div>
                            {% endif %}

                        </div>
                    </footer>
                    <div class="comment-content">
                        <p class="comment-text">{{ node.text|linebreaksbr }}</p>
                    </div>

                    <div class="comment-operation">
                        <div id="comment-div_{{ node.id }}">
                            {% if user.is_authenticated %}
                            <button class="btn btn-link" name="reply-comment" id="reply-btn_{{ node.id }}">
                                <span>Reply</span> <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </button>
                                {% if node.author == user or user.is_superuser %}
                                <button class="btn btn-link" name="update-comment" id="update-btn_{{ node.id }}">
                                    <span>Edit</span> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                {% endif %}
                            {% else %}
                            <a class="btn btn-link" href="{% url 'auth_login' %}?next={{ request.path }}">
                                <span>Login to Reply <i class="fa fa-sign-in" aria-hidden="true"></i></span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </article>

                <div class="comment-reply-edit">
                    {% if user.is_authenticated %}
                    <div class="reply_div" id="reply-div_{{ node.id }}">
                        <form role="form" method="POST" action="{% url 'blogs:addNestedComment' node.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated and node.author == user or user.is_superuser %}
                    <div class="update_div" id="update-div_{{ node.id }}" data-comment-url="{% url 'blogs:getComment' node.id %}">
                        <form role="form" method="POST" action="{% url 'blogs:updateComment' node.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-default" name="cancel-btn" id="cancel-btn_{{ node.id }}">Cancel</button>
                        </form>
                    </div>
                    {% endif %}
                </div>

                {% if not node.is_leaf_node %}
                    <ol class="children">
                        {{ children }}
                    </ol>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ol>
    </div>

{% endblock %}
