{% extends "mysite/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    {{ title }}
{% endblock %}


{% block additional_head %}
    <!-- Custom CSS -->
    <link href="{% static 'blogs/blog-home.css' %}" rel="stylesheet">
    <link href="{% static 'blogs/myblog.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <!-- Page Content -->
    {% include "blogs/base_search.html" %}
    <br/>

    {% include "blogs/base_blog_items.html" %}

{% endblock %}
