{% extends "mysite/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    {{ title }}
{% endblock %}


{% block additional_head %}
    <!-- Custom CSS -->
    <link href="{% static 'blogs/blog-home.css' %}" rel="stylesheet">
    <link href="{% static 'blogs/myblog.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="{% static 'blogs/jquery.truncate.js' %}"></script>
    <script src="{% static 'blogs/render-content.js' %}"></script>
    <script src="{% static 'blogs/blog-list.js' %}"></script>
{% endblock %}


{% block content %}
    <!-- Page Content -->
    {% include "blogs/base_search.html" %}

    {% include "blogs/base_blog_items.html" %}

{% endblock %}
