{% extends "mysite/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load avatar_tags %}


{% block title %}
    Blog Post
{% endblock %}


{% block additional_head %}
    {{ form.media }}
    <link href="{% static 'blogs/myblog.css' %}" rel="stylesheet">
    <link href="{% static 'blogs/pagedown-widget.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <br/>
    <div class="blog_post_div well">
        <div class="container-fluid">
            <h1>Form</h1>
            <form id="post_form" method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn btn-success" href="{% url 'upload:upload-new' %}" target="_blank">Upload Image</a>
                <input type="submit" class="btn btn-primary" value="Submit" />
            </form>
        </div>

        <div class="container-fluid">
            <h1>Preview</h1>
            <div class="blog-detail_div well">
                <h1 id="preview_title"></h1>
                <p><i class="fa fa-pencil"></i> Author:
                    <a id="author">
                        <span class="avatar-span">
                        {% if blog %}
                            {% avatar blog.author 64 %}
                        {% else %}
                            {% avatar request.user 64 %}
                        {% endif %}
                        </span>
                        {% if blog %}
                            {{ blog.author }}
                        {% else %}
                            {{ request.user.username }}
                        {% endif %}
                    </a>
                </p>
                <p><i class="fa fa-clock-o"></i> <span id="preview_time">
                    {% if blog %}
                    Posted: {{ blog.publish_time|date:"Y-m-d" }} {{ blog.publish_time|time:"H:i:s" }}
                    {% else %}
                    Posted: xxxx-xx-xx
                    {% endif %}
                </span></p>
                {% if blog %}
                <p><small><i class="fa fa-clock-o"></i> <span id="update_time">Last Edit: xxxx</span></small></p>
                {% endif %}

                <p id="preview_category"></p>
                <p>
                    <span><i class="fa fa-eye"></i> Views: {% if blog %}{{ blog.read_count }}{% else %}0{% endif %}</span>
                    <span style="margin-left: 10px;"><i class="fa fa-comment"></i> Comments: {% if blog %}{{ blog.comment_set.all | length }}{% else %}0{% endif %}</span>
                </p>
                <div class="blog_content" id="preview_content"></div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('textarea').each(function ()
            {
                this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;resize: none;');
            }).on('input', function () {
                this.style.height = 'auto';
                this.style.height = (this.scrollHeight) + 'px';
            });

            function set_title()
            {
                $("#preview_title").text($("#id_title").val());
            }
            function set_content() {
                marked.setOptions({
                    gfm: true,
                    tables: true,
                    breaks: true,
                    pedantic: false,
                    sanitize: true,
                    smartLists: true,
                    smartypants: false
                });

                var renderer = new marked.Renderer();
                renderer.code = function (code, language) {

                    return '<pre class="prettyprint"><code class="hljs">' + hljs.highlightAuto(code).value +
                        '</code></pre>';
                };
                $("#preview_content").html(marked($("#id_text").val(), { renderer: renderer }));
                $(".marked_truncate p:not(:has(img))").css("text-indent", "2em");
                $(".blog_content p:not(:has(img))").css("text-indent", "2em");
            }
            function set_category() {
                var text = $("#id_categories").val();
                if (text === '')
                {
                    $("#preview_category").html('');
                    return;
                }
                var cates = text.split(" ");
                var res = '<p><i class="fa fa-tags"></i> Category: ';
                for (var i = 0; i < cates.length; i++) {
                    res += '<span class="category-span"><a>' + cates[i] + '</a></span> '
                }
                res += '</p>';
                $("#preview_category").html(res);
            }
            function set_time() {
                var d = new Date();
                var curr_date = d.getDate();
                var curr_month = d.getMonth();
                curr_month++;
                var curr_year = d.getFullYear();
                var curr_hour = d.getHours();
                var curr_minute = d.getMinutes();
                var curr_second = d.getSeconds();
                {% if blog %}
                $("#update_time").html("Last Edit: "+ curr_year + "-" + curr_month + "-" + curr_date
                + " " + curr_hour + ":" + curr_minute + ":" + curr_second);
                {% else %}
                $("#preview_time").html("Posted: " + curr_year + "-" + curr_month + "-" + curr_date
                + " " + curr_hour + ":" + curr_minute + ":" + curr_second);
                {% endif %}
            }

            // initial set
            set_title();
            set_content();
            set_category();
            set_time();
            // listen events
            $("#id_title").bind('input propertychange', set_title);

            $("#id_text").bind('input propertychange', set_content);

            $("#id_categories").bind('input propertychange', set_category);

            setInterval(set_time, 1000);

            // listen list and button click event to renew content generated by button
            $(document).on('click', '.wmd-button', function(){
                set_content();
            });
            // fix img url and url window
            $(document).on('click', "input[type='button'][value='OK']", function(){
                set_content();
            });
        })
    </script>
{% endblock %}
