{% load i18n %}

<h3>
{% blocktrans %}Greetings{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},
</h3>

{% blocktrans %}
<p>You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on the {{ domain }} site. If you do not
wish to reset your password, please ignore this message.
</p>
{% endblocktrans %}


{% blocktrans %}
<p>
To reset your password, please click the following link, or copy and paste it into your web browser:
</p>
{% endblocktrans %}
<br/>
<a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">
  {{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}
</a>
<br/>

<p>
{% blocktrans %}Your username, in case you've forgotten:{% endblocktrans %} {{ user.username }}
</p>

<p>
{% blocktrans %}Best regards{% endblocktrans %},
{{ site_name }} {% blocktrans %}Management{% endblocktrans %}
</p>
