{% extends "mysite/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class='cover-div'>
    {% if validlink %}
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <form method="post" action=".">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" class='btn btn-primary' value="{% trans 'Submit' %}" />
            </form>
        </div>
    </div>

    {% else %}

    <p>{% trans "Password reset failed" %}</p>

    {% endif %}
</div>
{% endblock %}
