.accounts-panel-div {
    padding: 25px;
    margin-bottom: 20px;
    margin-top: 50px;
    background-color: rgba(230,238,232,0.8);
    box-shadow: 0px 0px 8px black;
}

.profile-content-div {
    padding: 20px;
    margin-top: 2px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px black;
}

.profile-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

pre {
    white-space: pre-wrap;
}

.brand-new{
    position: absolute;
    margin-top: -36px;
    margin-left: -50px;
    font-size: 24px;
}