.comment-area {
    margin-top: 50px;
}

.comment-list {
    list-style: none;
}

.media-body {
    text-align: left;
}

.comment-div {
    margin-top: 10px;
}
.btn:focus, .btn-link:focus {
  outline: none !important;
}