.blog-div {
    background-color: rgba(230,238,232,0.8);
    box-shadow: 0px 0px 8px black;
    word-wrap: break-word;
}

.blog-div:hover {
    box-shadow: 0px 0px 24px black;
    background-color: rgba(230,238,232,0.9);
}

.blog-detail_div {
    background-color: rgba(230,238,232,0.9);
    font-size: 20px;
    word-wrap: break-word;
}

.blog-detail_div:hover {
    box-shadow: 0px 0px 24px black;
}

.blog_post_div {
    background-color: rgba(230,238,232,0.8);
    box-shadow: 0px 0px 8px black;
    overflow: hidden;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    text-align: center;
}

.modal-avatar {
    margin: 20px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#author:hover {
    color: red;
}

#profile-close {
    margin: 10px;
}

.comment-area {
    margin-top: 50px;
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
    margin-top: 0;
}

.commentlist {
    padding: 0;
    display: block;
}

.commentlist li {
    margin: 10px 0px 10px 0px;
    list-style: none;
    padding: 2px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 8px black;
    -webkit-box-shadow: 0px 0px 8px black;
    background-color: rgba(230, 238, 232, 0.5);
    box-shadow: 0px 0px 8px black;
    transition: background-color 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
}

.commentlist li:hover {
    box-shadow: 0 0 24px;
    background-color: white;
}

.commentlist .comment-body {
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.commentlist ol {
    padding-left: 20px;
}

.commentlist .comment-body .comment-meta {
    background: rgba(113, 194, 234, 0.6);
    position: relative;
    height: auto;
    min-height: 37px;
    line-height: 37px;
    padding-left: 45px;
}

.commentlist .comment-body .comment-meta .comment-author {
    float: left;
}

.commentlist .comment-body .comment-meta .comment-author img {
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    display: block;
    left: -40px;
    top: 10px;
    margin: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.commentlist .comment-body .comment-meta .comment-author .says {
    margin-left: 10px;
}

.commentlist .comment-body .comment-metadata {
    float: right;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.commentlist .comment-body .comment-content {
    padding: 20px 55px 30px 45px;
    position: relative;
}

.comment-operation {
    position: absolute;
    bottom: 3px;
    right: 12px;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

.comment-metadata {
    text-align: right;
}

.comment-update-time {
    font-weight: normal;
    line-height: 2;
    color: #777;
}

.reply_div, .update_div {
    padding: 0px 16px 16px 16px;
}

@media (max-width: 767px) {
    .commentlist .comment-body .comment-metadata {
        display: none;
    }
    .commentlist ol {
    padding-left: 5px;
}
}
